[Interface]
PrivateKey = ${client_private_key}
Address = ${client_address}
DNS = ${dns_servers}

[Peer]
PublicKey = ${server_public_key}
AllowedIPs = ${allowed_ips}
Endpoint = ${endpoint}
PersistentKeepalive = ${persistent_keepalive}
